<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stand.spring.dao.ClassMapper">
  <resultMap id="BaseResultMap" type="com.stand.spring.model.ClassDO">
    <id column="Class_Id" jdbcType="INTEGER" property="classId" />
    <result column="Class_Name" jdbcType="CHAR" property="className" />
  </resultMap>

  <select id="selectById" parameterType="com.stand.spring.model.ClassDO" resultMap="BaseResultMap">
    select
      *
    FROM
      class
    WHERE Class_Id=#{id,jdbcType=INTEGER}
  </select>



  <select id="selectByName" parameterType="com.stand.spring.model.ClassDO" resultMap="BaseResultMap">
    select
    *
    FROM
    class
    WHERE Class_Name=#{className,jdbcType=CHAR}
  </select>


  <select id="selectByUserId" parameterType="java.util.List"  resultMap="BaseResultMap">
    select
    *
    FROM
    class
    WHERE Class_Id in (#{classIds})
  </select>

  <insert id="insertClass" parameterType="com.stand.spring.model.ClassDO" useGeneratedKeys="true" keyProperty="classId">
    INSERT INTO
    class
    (Class_Name)
    VALUES
    (#{className,jdbcType=CHAR})
  </insert>

  <update id="updateClassNameByID" parameterType="com.stand.spring.model.ClassDO">
    UPDATE
      CLASS
    SET
      Class_Name=#{className,jdbcType=CHAR}
    WHERE
      Class_Id = #{classId}

  </update>
</mapper>