<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stand.spring.dao.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.stand.spring.model.CustomerDO">
        <id column="Customer_Id" jdbcType="INTEGER" property="customerId"/>
        <result column="Customer_Name" jdbcType="VARCHAR" property="customerName"/>
        <result column="Customer_Pwd" jdbcType="VARCHAR" property="customerPwd"/>
        <result column="Customer_Dev" jdbcType="VARCHAR" property="customerDev"/>
        <result column="Customer_Des" jdbcType="VARCHAR" property="customerDes"/>
        <result column="Customer_Contact" jdbcType="VARCHAR" property="customerContact"/>
        <result column="Customer_Phone" jdbcType="VARCHAR" property="customerPhone"/>
        <result column="Customer_Addr" jdbcType="VARCHAR" property="customerAddr"/>
        <result column="Customer_Email" jdbcType="VARCHAR" property="customerEmail"/>
        <result column="Customer_Date" jdbcType="TIMESTAMP" property="customerDate"/>
        <result column="Customer_Class" jdbcType="VARCHAR" property="customerClass"/>
        <result column="Customer_Seg" jdbcType="VARCHAR" property="customerSeg"/>
        <result column="Customer_Reg" jdbcType="VARCHAR" property="customerReg"/>
        <result column="Customer_State" jdbcType="BIT" property="customerState"/>
        <result column="Customer_Elec_Id" jdbcType="VARCHAR" property="customerElecId"/>
        <result column="Customer_Gas_Id" jdbcType="VARCHAR" property="customerGasId"/>
        <result column="Customer_Water_Id" jdbcType="VARCHAR" property="customerWaterId"/>
    </resultMap>

    <select id="queryCustomerById" parameterType="com.stand.spring.model.CustomerDO" resultMap="BaseResultMap">
     select
      *
     from
      customer
     WHERE
      Customer_Id=#{id,jdbcType=INTEGER}
  </select>

    <update id="updateCustomerClassIdsById" parameterType="com.stand.spring.model.CustomerDO">
        UPDATE
          CUSTOMER
        SET
         Customer_Class=#{customerClass,jdbcType=VARCHAR}
        WHERE
          Customer_Id=#{customerId,jdbcType=INTEGER}
    </update>

    <update id="updateCustomer" parameterType="com.stand.spring.model.CustomerDO">
        UPDATE
        CUSTOMER
        SET
        <if test="customerPwd!=null and customerPwd !=''">
            Customer_Pwd=#{customerPwd,jdbcType=VARCHAR},
        </if>
        <if test="customerDev!=null and customerDev !=''">
            Customer_Dev=#{customerDev,jdbcType=VARCHAR}
        </if>
        WHERE
        Customer_Id=#{customerId,jdbcType=INTEGER}
    </update>


</mapper>